.toggleMe {
 width: 200px;
 height: 200px;
 background-image: url("hamburger_menu.png");
 background-repeat: no-repeat;
 background-size: 100%;
}

.nav-sidebar {
    margin: 20px;
    list-style: none;
    visibility: hidden;
}

.nav-sidebar ul {
    padding: 5px;
}

.red {
    font-size: 50px;
    background-color: red;
    width: 50%;
}

.blue {
    font-size: 50px;
    background-color: blue;
    width: 50%;
}

.green {
    font-size: 50px;
    background-color: green;
    width: 50%;
}

.purple {
    font-size: 50px;
    background-color: purple;
    width: 50%;
}